name: Check URLs

on:
  push:
    branches: [ master ]
    paths: [ 'README.md', 'check_urls/**', 'example/**' ]
  pull_request:
    branches: [ master ]
    paths: [ 'README.md', 'check_urls/**', 'example/**' ]
  workflow_dispatch:

jobs:

  check-urls:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./check_urls

    steps:
      - uses: actions/checkout@v3

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable

      - name: Print Dart version
        run: dart --version

      - name: Install dependencies
        run: dart pub get

      - name: Run check_urls/main.dart
        run: dart run main.dart

  run-example:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./example
    steps:
      - uses: actions/checkout@v3

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1.3
        with:
          sdk: stable

      - name: Print Dart version
        run: dart --version

      - name: Install dependencies
        run: dart pub get

      - name: Run example/lib/rxdart_ext_example.dart
        run: dart run lib/rxdart_ext_example.dart